.DS_Store
api/node_modules/
api/config/config.json
api/package-lock.json
react-front/yarn.lock
react-front/node_modules

react-front/coverage

react-front/build

react-front/.DS_Store
react-front/.env.local
react-front/.env.development.local
react-front/.env.test.local
react-front/.env.production.local

react-front/npm-debug.log*
react-front/yarn-debug.log*
react-front/yarn-error.log*