.row {
    width: 50%;
}

.formEvent {
    margin-top : 8%;
}

.formButton {
    width: 50%;
    margin: 0 25% 0 25%
}



.textContent {
    width: 80%;
    margin: 2% 10% 2% 10% ;
}


.inputContent {
    width: 35%;
    margin: 0 0 0 37%;
}

.searchContent {
    width: 35%;
    margin: 0 0 0 37%;
}

