.ant-avatar {
    width: 100px !important ;
    height: 100px !important;
}

.profilContent {
    width: 60%;
    margin: 2% 20% 0 20%;
}

.iconImage {
    font-size : 30px
}
.iconName {
    padding: 0 3% 0 0
}

.iconBlock {
    width: 30%;
    float: right;
    padding: 0 0 1% 0
}